CharRecognition/CharRecognition.sdf
CharRecognition/CharRecognition.v12.suo
TrainANN/TrainANN.sdf
TrainANN/TrainANN.v12.suo
TrainSVM/TrainSVM.sdf
TrainSVM/TrainSVM.v12.suo


CharRecognition/CharRecognition/x64/*
CharRecognition/ipch/*
CharRecognition/x64/*

TrainANN/TrainANN/x64/*
TrainANN/ipch/*
TrainANN/x64/*

TrainSVM/TrainSVM/x64/*
TrainSVM/ipch/*
TrainSVM/x64/*