CharRecognition/CharRecognition.sdf
CharRecognition/CharRecognition.v12.suo
CharRecognition/CharRecognition/x64/*
CharRecognition/ipch/*
CharRecognition/x64/*


TrainANN/TrainANN.sdf
TrainANN/TrainANN.v12.suo
TrainANN/TrainANN/x64/*
TrainANN/ipch/*
TrainANN/x64/*


TrainSVM/TrainSVM.sdf
TrainSVM/TrainSVM.v12.suo
TrainSVM/TrainSVM/x64/*
TrainSVM/ipch/*
TrainSVM/x64/*


TestSVMBatch/TestSVMBatch.sdf
TestSVMBatch/TestSVMBatch.v12.suo
TestSVMBatch/TestSVMBatch/x64/*
TestSVMBatch/ipch/*
TestSVMBatch/x64/*


TestANNBatch/TestANNBatch.sdf
TestANNBatch/TestANNBatch.v12.suo
TestANNBatch/TestANNBatch/x64/*
TestANNBatch/ipch/*
TestANNBatch/x64/*

CaffeTemplate/CaffeTemplate.sdf
CaffeTemplate/CaffeTemplate.v12.suo
CaffeTemplate/CaffeTemplate/x64/*
CaffeTemplate/ipch/*
CaffeTemplate/x64/*
CaffeTemplate/CaffeDependencies/*

CaffeTemplate-backup/*