CharRecognition/CharRecognition.sdf
TrainANN/TrainANN.sdf
TrainSVM/TrainANN.sdf


CharRecognition/CharRecognition/x64/*
CharRecognition/ipch/*
CharRecognition/x64/*

TrainANN/TrainANN/x64/*
TrainANN/ipch/*
TrainANN/x64/*

TrainSVM/TrainANN/x64/*
TrainSVM/ipch/*
TrainSVM/x64/*